/* You can add global styles to this file, and also import other style files */
body{
    background-color: lightskyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn_theme{
    border-radius: 6px;
    box-shadow: 1px 1px;
    padding: 10px;
    background-color: orange;
    color: white;
    font-size: 1rem;
}
.btn_theme:disabled{
	background-color: rgb(216, 174, 97);
    color:gray;
} 